:root {
  --color-primary: #1abc9c;
  --bs-primary-rgb: 26, 188, 156;
  --color-primary-dark: #1a9d82;
  --color-secondary: #2c3e50;
  --color-tertiary: #3a546d;
}

.bg-prim {
  background-color: var(--color-primary);
}

.bg-second {
  background-color: var(--color-secondary);
}

.bg-tert {
  background-color: var(--color-tertiary);
}

nav a {
  display: inline-block;
  color: white;
  text-decoration: none;
}

.avatar {
  width: 140px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.hr-black {
  background-color: black;
  height: 2px;
  border-radius: 5px;
  width: 110px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.hr-white {
  background-color: white;
  height: 2px;
  border-radius: 5px;
  width: 110px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.color-white {
  color: white;
}

.navbar-light .color-white {
  color: white;
}

.navbar-light .border-white {
  color: white;
}

.navbar-light .filter-invert {
  filter: invert(1);
}

.navbar-light .navbar-nav .color-white {
  color: white;
}


.form-control {

  border: 0;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;

}

.form-floating-modified {
  height: auto;
}

.btn-primary-custom {
  background-color: var(--color-primary);
  border: 0;
  margin-top: 0.5rem;
}

.btn-primary-custom:hover {
  background-color: var(--color-primary-dark);

}

.row .custom .b-black {
  border-bottom: 1px solid black;
}

.square {
  width: 39px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square:hover i {
  color: #3a546d;
  transition: color 0.3s ease-in-out;
}